.container {
  position: absolute;
  top: 1.5rem;
  right: 0;
  background-color: #3F585F;
  border-radius: 5px;
  z-index: 99;
  padding: 1rem;
}

.container input {
  text-align: center;
}

.userText {
  margin-bottom: 1rem;
}

.button {
  margin-top: 1rem;
  background-color: #0083BF;
  border: none;
  font-weight: bold;
  color: white;
  padding: 5px 1rem;
  border-radius: 5px;
}
